<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head.html :: fragment-head" ></head>

<header th:replace="layout/header.html :: fragment-header"></header>

<main class="main">
	<input type="hidden" id="principalId" th:value="${#authentication.principal.user.id}"/>
	<section class="container">
		<!--전체 리스트 시작-->
		<article class="story-list" id="storyList">

			<!--전체 리스트 아이템-->


		</article>
	</section>
	<footer th:replace="layout/footer.html :: fragment-footer"></footer>
</main>
<script src="js/story.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
