<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head.html :: fragment-head"></head>

<header th:replace="layout/header.html :: fragment-header"></header>

<!--프로필 섹션-->
<section class="profile">
	<!--유저정보 컨테이너-->
	<div class="profileContainer">

		<!--유저이미지-->
		<div class="profile-left">
			<div class="profile-img-wrap story-border"
				onclick="popup('.modal-image')">
				<form id="userProfileImageForm">
					<input type="file" name="profileImageFile" style="display: none;"
						id="userProfileImageInput" />
				</form>

				<img class="profile-image" th:src="|/upload/${dto.user.profileImageUrl}|"
					onerror="this.src='/images/person.jpeg'" id="userProfileImage" />
			</div>
		</div>
		<!--유저이미지end-->

		<!--유저정보 및 사진등록 구독하기-->
		<div class="profile-right">
			<div class="name-group">
				<h2 th:text="${dto.user.name}"></h2>

				<button th:if="${dto.pageOwner}" class="cta" onclick="location.href='/image/upload'">사진등록</button>
				<button th:if="!${dto.pageOwner} and ${dto.subscribeState}" class="cta blue" th:onclick="|toggleSubscribe(${dto.user.id},this)|" >구독취소</button>
				<button th:if="!${dto.pageOwner} and !${dto.subscribeState}" class="cta" th:onclick="|toggleSubscribe(${dto.user.id},this)|">구독하기</button>
				<button class="modi" onclick="popup('.modal-info')">
					<i class="fas fa-cog"></i>
				</button>
			</div>

			<div class="subscribe">
				<ul>
					<li><a href=""> 게시물<span th:text="${dto.user.images.size()}"></span>
					</a></li>
					<li><a th:href="|javascript:subscribeInfoModalOpen(${dto.user.id});|"> 구독정보<span th:text="${dto.subscribeCount}"></span>
					</a></li>
				</ul>
			</div>
			<div class="state">
				<h4 th:text="${dto.user.bio}"></h4>
				<h4 th:text="${dto.user.website}"></h4>
			</div>
		</div>
		<!--유저정보 및 사진등록 구독하기-->

	</div>
</section>

<!--게시물컨섹션-->
<section id="tab-content">
	<!--게시물컨컨테이너-->
	<div class="profileContainer">
		<!--그냥 감싸는 div (지우면이미지커짐)-->
		<div id="tab-1-content" class="tab-content-item show">
			<!--게시물컨 그리드배열-->
			<div class="tab-1-content-inner">

				<!--아이템들-->


				<div class="img-box" th:each="image : ${dto.user.images}">
					<a href=""> <img th:src="|/upload/${image.postImageUrl}|" />
					</a>
					<div class="comment" onclick="popup('.modal-imageDetail')">
						<a href="#" class=""> <i class="fas fa-heart"></i><span th:text="${image.likeCount}"></span>
						</a>
					</div>
				</div>

				<!--아이템들end-->
			</div>
		</div>
	</div>
</section>

<!--로그아웃, 회원정보변경 모달-->
<div class="modal-info" onclick="modalInfo()">
	<div class="modal">
		<button onclick="location.href='/user/1/update'">회원정보 변경</button>
		<button onclick="location.href='/logout'">로그아웃</button>
		<button onclick="closePopup('.modal-info')">취소</button>
	</div>
</div>
<!--로그아웃, 회원정보변경 모달 end-->

<!--프로필사진 바꾸기 모달-->
<div class="modal-image" onclick="modalImage()">
	<div class="modal">
		<p>프로필 사진 바꾸기</p>
		<button th:onclick="|profileImageUpload(${dto.user.id}, ${#authentication.principal.user.id})|">사진 업로드</button>
		<button onclick="closePopup('.modal-image')">취소</button>
	</div>
</div>

<!--프로필사진 바꾸기 모달end-->

<!-- 구독정보 모달 -->
<div class="modal-subscribe">
	<div class="subscribe">
		<div class="subscribe-header">
			<span>구독정보</span>
			<button onclick="modalClose()">
				<i class="fas fa-times"></i>
			</button>
		</div>

		<div class="subscribe-list" id="subscribeModalList">

		</div>
	</div>

</div>


<!-- 사진 게시글 상세 보기 -->
<div class="modal-imageDetail" th:each="image : ${dto.user.images}">
	<div class="imageDetail">
		<div class="imageDetail-header">
			<span>이미지 상세</span>
			<button onclick="imageDetailModalClose()">
				<i class="fas fa-times"></i>
			</button>
		</div>

		<div class="imageDetail-list" >
			<div class="story-list" id="storyList">
			<div class="story-list__item">

				<div class="sl__item__img" >
					<img style="height: 400px; width: 730px;" th:src="|/upload/${image.postImageUrl}|" />
				</div>
				<div class="sl__item__contents">
					<div class="sl__item__contents__icon">
						<button>
							<i th:if="${image.likeState}" class="fas fa-heart active" th:id="|storyLikeIcon-${image.id}|" th:onclick="|toggleLike(${image.id})|"></i>
							<i th:if="!${image.likeState}" class="far fa-heart" th:id="|storyLikeIcon-${image.id}|" th:onclick="|toggleLike(${image.id})|"></i>
						</button>
					<span class="like"><b th:id="|storyLikeCount-${image.id}|" th:text="${image.likeCount}"></b> likes</span>
					</div>
					<div class="sl__item__contents__content">
						<p th:text="${image.caption}"></p>
					</div>

					<div style="padding:7px 0px " th:id="|storyCommentList-${image.id}|">

						<div th:each="comment : ${image.comments}" class="sl__item__contents__comment" th:id="|storyCommentItem-${comment.id}|">
							<p>
								<b th:text="${comment.user.username} ">  </b > <p th:text="${comment.content}"></p>
							</p>

							<button th:if="${#authentication.principal.user.id} == ${comment.user.id}" th:onclick="|deleteComment(${comment.id})|">
							<i class="fas fa-times"></i>
						</button>
						</div>

					</div>
					<div class="sl__item__input">
						<input type="text" placeholder="댓글 달기..." th:id="|storyCommentInput-${image.id}|" />
						<button type="button" th:onClick="|addComment(${image.id})|">게시</button>
					</div>
				</div>
			</div>

<!--			===================-->
		</div>
		</div>
	</div>

</div>

<footer th:replace="layout/footer.html :: fragment-footer"></footer>

<script src="/js/profile.js"></script>
<script src="/js/header.js"></script>

